.btnlg{
    background-color: rgb(73, 220, 85);
    width:2cm;
    height:30px;
    border :0px;
    border-radius: 20px;
    text-decoration: none;
}
.btnlg:hover{
background: rgb(255, 0, 0);
}
.nav{
    background: rgb(234, 190, 15);
}
.header{
    background-color: black;
}
.nav-elemnts{
    text-decoration: none;
}