.btnlg{
    background-color: rgb(28, 105, 37);
    width:2cm;
    height:30px;
    border :0px;
    border-radius: 20px;
    text-decoration: none;
}
.btnlg:hover{
    background: rgb(0, 51, 255);
}
a{
    font-family: "Arial Black";
    color: #e9ecef;
}
.nav{
    /*background: rgb(234, 190, 15);*/
    display: flex;
    align-items: initial;
    justify-content: space-between;
    padding: 20px;
    background-color: #276565;
    color: #030303;
}

.nav-elemnts{
    text-decoration: none;
}