.container-slider {
    display: flex;
    justify-content: center;
    height: 350px;
    width:  100% ;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.container-slider video{
    height: 350px;
    margin:0px;
    width:  100% ;
    object-fit: cover;
}


@media screen and (max-width: 700px){
    .container-slider {
        margin: 0;
    }
}
.active-anim {
    opacity: 1;
}

